<html>
  <head>
    <%- include('./partials/fonts.ejs')%>
    <link rel="stylesheet" type="text/css" href="/design.css">
  </head>
  <body>
    <%- include('./partials/header.ejs')%>
   

      <div class = 'name_intro'>
        <div>
          📩 Hello, <%= found.employee_name.split(" ")[0] %>
          <div class = 'user-information'>
            <label> Name:  </label> <span> <%= found.employee_name %> </span> <br />
            <label> Employee ID:  </label> <span> <%= found.id %> </span>
          </div>
        </div>
        <a href = "/"> Logout </a>
      </div>


      

      <div class = 'add-container'>
        <button type="button" class="add">📄 Add A Project</button>
      </div>

      <p class = 'title-section'> Projects </p>
      <%  if(renderingFilteredProjects.length > 0) {%>
        <% for(let i = 0; i < renderingFilteredProjects.length; i++) { %>
          <div class = 'projects'>
          <a href="/project/<%= renderingFilteredProjects[i].id %>">
          <h3 class="project-name"><%= renderingFilteredProjects[i].project %></h3>
          <div class = 'description-container'>
          <p class="author"><%= renderingFilteredProjects[i].name %></p>
          <p>●</p>
          <p class="amount"><%= renderingFilteredProjects[i].money %></p>
          <p>●</p>
          <p class="amount"><%= renderingFilteredProjects[i].date %></p>
        </div>
        <h5 class="description"><%= renderingFilteredProjects[i].desc %></h5>
        </div>
      </a>
    </div>
        <% } %>
        <% } else { %>
          <div class = 'add-project'>
            <p> 📝 </p>
            <h1>Uh oh, no projects!</h1> 
            <h6> Add your project by clicking the Add the Project button. </h6>
          </div>
  
          <% } %>
      </div>

     
      <div class="modal hidden">
        <h1> Input the appropriate information! </h1>
        <form class="form employeeform">
          <h3>
            Project Name:
            <input
              type="text"
              name="project"
              placeholder="E.g. Data Analytics"
              required
            />
          </h3>
          <h3>
            Money: <input name = "money" value = '' required>
          </h3>
          <h3> 
            Your Name:  <input  name = "name"  value = '' required>
          </h3>
         
          <h3>
            Project Description:
            <input
              type="comment"
              name="desc"
              placeholder="E.g. This project is about..." size = "30"
              required
            />
          </h3>
          <button type="submit" class = 'add-btns'>Add</button></form>
        </form>
      </div>
      <div class="overlay hidden"></div>


    <script src = '/script.js'></script>
    <script>
      let employeeFormUser = document.querySelector('.employeeform');

      const url = window.location.href;
      const lastPath = url.split('/').pop(); 
      console.log(lastPath);

      employeeFormUser.addEventListener('submit', (e) => {
        e.preventDefault();
        const formData = new FormData(employeeFormUser);
        const data = Object.fromEntries(formData);
        let newData = {
          ...data,
        };
        console.log(newData)

        fetch(`http://localhost:3000/employeeproject/${lastPath}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(newData),
        }).then(response => {
          if(response.ok) {
            window.location.replace(`/employee/${lastPath}`);
          }
        })
      });

    </script>
    <style>
      .name_intro {
        
        margin: 30px;
        font-size: 40px;
        font-weight: 600;
        border-bottom: solid 2px gray;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .add {
        margin:  10px 150px;
        text-align: center;
      }

    
      .add-container {
          grid-template-rows: 0fr 0fr 0fr;
      }

      .user-information {
        font-size: 15px;
        margin-left: 60px;
       
      }

    </style>
 </body>
</html>
