<html>
  <head> 
    <%- include('./partials/fonts.ejs')%>
    <link rel="stylesheet" type="text/css" href="/design.css">
   
  </head>
  <body>
    <%- include('./partials/header.ejs')%>
    <div id="nav"><%- include('./partials/navigate.ejs')%></div>
   
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <canvas id=" myChart"></canvas> -->
    <label></label>
    <!-- <p>Total Count: <span></span></p> -->
    <p class = 'title-section'> Employees </p>
    <!-- <select>
      <option class = 'current'> Current Employees </option>
      <option class = 'retired'> Retired Employees </option>
    </select> -->
    <input class = 'search-bar' value = '' size = '50' placeholder="Input employee name..." type = 'search' />
   <div class = 'adjust'>
    <main>

     
      <div class="movements">
        <%  if(renderingFiltered.length > 0) {%>
        <% for (let i = 0; i < renderingFiltered.length; i++) { %>
          <!-- employees.filter((item) => {
            return item.id == "???"
          }) -->
        <div class="movements__row">
          <div class="name" id="name"><%= renderingFiltered[i].employee %></div>
          <div class="position" id="position">
            <%= renderingFiltered[i].position %>
          </div>
          <div class="status" id="position">
            <%= renderingFiltered[i].status %>
          </div>
        </div>
        <% } %>
        <% } else { %>
          <div class = 'add-employee'>
          <p> 📋 </p>
          <h1>Uh oh, no employees!</h1> 
          <h6> Add employees by clicking the <span> Add an Employee </span> button to start.</h6>
        </div>
        <% } %>
      </div>
    </main>
    <div class = 'add-container'>
      <button type = 'button' class="add-employee-btn">👤 Add an Employee</button>
      <button type="button" class="add">📄 Add A Project</button>
    </div>
  </div>
 

  <p class = 'title-section'> Projects </p>
    <div class="all-projects">
      <!-- Using the name attributes from the json file to render in the EJS file -->
      <%  if(renderingFilteredProjects.length > 0) {%>
      <% for(let i = 0; i < renderingFilteredProjects.length; i++) { %>
        <div class = 'projects'>
        <a href="/project/<%= renderingFilteredProjects[i].id %>">
        <h3 class="project-name"><%= renderingFilteredProjects[i].project %></h3>
        <div class = 'description-container'>
        <p class="author"><%= renderingFilteredProjects[i].name %></p>
        <p>●</p>
        <p class="amount"><%= renderingFilteredProjects[i].money %></p>
        <p>●</p>
        <p class="amount"><%= renderingFilteredProjects[i].date %></p>
      </div>
      <h5 class="description"><%= renderingFilteredProjects[i].desc %></h5>
      </div>
    </a>
  </div>
      <% } %>
      <% } else { %>
        <div class = 'add-project'>
          <p> 📝 </p>
          <h1>Uh oh, no projects!</h1> 
          <h6> Add employees by clicking the <span> Add an Employee </span> button to start.</h6>
        </div>

        <% } %>
    </div>

    <div class="modal hidden">
      <h1> Input the appropriate information! </h1>
      <form class="form">
        <h3>
          Project Name:
          <input
            type="text"
            name="project"
            placeholder="E.g. Data Analytics"
            required
          />
          <!--
            <select name="employee">
          <% for (let i = 0; i < foundEmployee.length; i++) { %>
            <option value="<%= foundEmployee[i].company_code %>"><%= foundEmployee[i].employee_name %></option>
          <% } %>
        </select>
        
          -->
        </h3>
        <h3> Employee Name : </h3>
        <select  name = "name" required>
          <% for (let i = 0; i < renderingFiltered.length; i++) { %>
          <option>
            <%= renderingFiltered[i].employee %>
          </option>
          <% } %>
        </select>
        <h3>
          Payment: <input type="number" name="money" placeholder="E.g. 15" />
        </h3>
        <h3>
          Project Description:
          <input
            type="comment"
            name="desc"
            placeholder="E.g. This project is about..." size = "30"
            required
          />
        </h3>
        <button type="submit" class = 'add-btns'>Add</button></form>
      </form>
    </div>
    <div class="overlay hidden"></div>



    <div class="modal hidden employee">
      <h1> Input the appropriate information! </h1>
      <form class="form-employee">
        <h3>
          Employee:
          <input
            type="text"
            name="employee"
            placeholder="E.g. Samantha"
            required
          />
        </h3>
        <h3>Position: <input type="text" name="position" required /></h3>
        <select name = 'status'>
          <option>Currently Working</option>
          <option>On Leave</option>
          <option>On Holiday</option>
        </select>

        <br>
        <button type="submit" class = 'add-btns'>Add</button></form>
      </form>
    </div>
    <div class="overlay employeeOverlay hidden"></div>



    <div class="modal hidden location-modal">
      <form class="form-location">
        <button class = 'remove'> X </button>
        <h3>
          Default Locations:
          <input type = 'text' name = 'locationName' value = '' class = 'location-field' />
        </h3>
        <button type="submit" class = 'add-btns-location'>Add</button></form>
      </form>
    </div>
    <div class="overlay locationOverlay hidden"></div>

    <script src="/script.js"></script>
    
  </body>
</html>