<html>
  <head> 
    <%- include('./partials/fonts.ejs')%>
  </head>
  <body>
    <%- include('./partials/header.ejs')%>
    <div id="nav"><%- include('./partials/navigate.ejs')%></div>
    <!-- <p>Total Count: <span></span></p> -->
    <p class = 'title-section'> Employees </p>
    <input class = 'search-bar' value = '' size = '50' type = 'search' />
   <div class = 'adjust'>
    <main>
      <div class="movements">
        <% for (let i = 0; i < renderingEmployees.length; i++) { %>
        <div class="movements__row">
          <div class="name" id="name"><%= renderingEmployees[i].employee %></div>
          <div class="position" id="position">
            <%= renderingEmployees[i].position %>
          </div>
          <div class="status" id="position">
            <%= renderingEmployees[i].status %>
          </div>
        </div>
        <% } %>
      </div>
    </main>
    <div class = 'add-container'>
      <button type = 'button' class="add-employee-btn">👤 Add an Employee</button>
      <button type="button" class="add">📄 Add A Project</button>
    </div>
  </div>
    
  <p class = 'title-section'> Projects </p>
    <div class="all-projects">
      <!-- Using the name attributes from the json file to render in the EJS file -->
      <% for(let i = 0; i < renderingProjects.length; i++) { %>
        <div class = 'projects'>
        <a href="/project/<%= renderingProjects[i].id %>">
        <h3 class="project-name"><%= renderingProjects[i].project %></h3>
        <div class = 'description-container'>
        <p class="author"><%= renderingProjects[i].name %></p>
        <p>●</p>
        <p class="amount"><%= renderingProjects[i].money %></p>
      </div>
      <h5 class="description"><%= renderingProjects[i].desc %></h5>
      </div>
    </a>
  </div>
      <% } %>
    </div>

    <div class="modal hidden">
      <h1> Input the appropriate information! </h1>
      <form class="form">
        <h3>
          Project Name:
          <input
            type="text"
            name="project"
            placeholder="E.g. Data Analytics"
            required
          />
        </h3>
        <h3>Name(s): <input type="text" name="name" required /></h3>
        <h3>
          Payment: <input type="number" name="money" placeholder="E.g. 15" />
        </h3>
        <h3>
          Project Description:
          <input
            type="comment"
            name="desc"
            placeholder="E.g. This project is about..." size = "30"
            required
          />
        </h3>
        <button type="submit" class = 'add-btns'>Add</button></form>
      </form>
    </div>
    <div class="overlay hidden"></div>



    <div class="modal hidden employee">
      <h1> Input the appropriate information! </h1>
      <form class="form-employee">
        <h3>
          Employee:
          <input
            type="text"
            name="employee"
            placeholder="E.g. Samantha"
            required
          />
        </h3>
        <h3>Position: <input type="text" name="position" required /></h3>
        <select name = 'status'>
          <option>Currently Working</option>
          <option>On Leave</option>
          <option>On Holiday</option>
        </select>
        <br>
        <button type="submit" class = 'add-btns'>Add</button></form>
      </form>
    </div>
    <div class="overlay employeeOverlay hidden"></div>



    <div class="modal hidden location-modal">
      <form class="form-location">
        <button class = 'remove'> X </button>
        <h3>
          Default Locations:
          <input type = 'text' name = 'locationName' value = '' class = 'location-field' />
        </h3>
        <button type="submit" class = 'add-btns-location'>Add</button></form>
      </form>
    </div>
    <div class="overlay locationOverlay hidden"></div>

    <script src="script.js"></script>
    <script src="employees.js"></script>
  </body>
</html>
