<html>
  <head>
    <%- include('./partials/fonts.ejs')%>
    <link rel="stylesheet" type="text/css" href="/design.css">
    

  </head>
  <body>
    <%- include('./partials/header.ejs')%>

  

  <div class = 'name_intro'>
    <div>
      📩 <%= foundProjects.project %>
      <div class = 'user-information'>
        Current Worker(s) on project: <span> <%= foundProjects.name %></span>
      </div>
    </div>
    <a href = "/"> Logout </a>
  </div>

  
   <div class = 'all-buttons'>
    <button type = 'submit' class = 'add'> <span class = 'plus'>+</span> Add A Task! </button>
    <button type = 'click' class = 'view'> View All Tasks!</button>
  </div>
  <div class = 'output'>
    <div class = 'design1'>
    <% if (foundTasks.length > 0) { %>
      <% foundTasks.forEach((task) => { %>
        <div class = 'design'>
       <li><span> <%= task.date %>  : </span><i><%= task.description %></i></li>
      </div>
      <% }); %>
    <% }%>
  </div>
  </div>
  
  <div class="projects-all-output">
    <div class="to-do-container">
      <h1>All Current To-Do's!</h1>
      <% if (foundTasks.length > 0) { %>
        <% foundTasks.forEach((task) => { %>
          <div class = 'design'>
          <button data-id="1"> X </button> <%= task.task %> :
          <%= task.date %> <br />
          <div class = 'desc'>
            <i><%= task.description %></i>
          </div>
        </div>
        
        <% }); %>
      <% } else { %>
        <div>
          <p> No Tasks! Write your tasks down here!</p>
        </div>
      <% } %>
    </div>
  </div>
  

    <div class="modal hidden">
    <div class = 'modal-content'>
    <h1> Input the appropriate information! </h1>
      <form class="form projectform">
        <label> Task To Do: </label>
          <input
            type="text"
            name="task"
            placeholder="E.g. Finish part 1 of the forms..."
            size = '40'
            required
          /> <br />
        <label> Due Date: </label>
        <label> If you are unsure of the due date, do not fill this out. </label>
        <input type = 'date' name = 'date' /><br />
        <label> Description </label>
        <input type = 'text' name = 'description' />
        <button type="submit" class = 'add-btns'>Add</button></form>
      </form>
    </div>
    </div>
    <div class="overlay hidden"></div>




    <script src = '/script.js'></script>
    <script>

    

      const url = window.location.href;
      const lastPath = url.split('/').pop(); 
      console.log(lastPath)

      let form = document.querySelector('.projectform');


      let RandomID = (length) => {
        let result = '';
        for (let i = 0; i < length; i++) {
          result += Math.trunc(Math.random() * 10);
        }
        return result;
      }

      form.addEventListener('submit', (e) => {
        e.preventDefault();
        let formData = new FormData(form);
        let data = Object.fromEntries(formData);
        console.log(data);

        let newData = {
          ...data,
          id: lastPath,
        };

        fetch(`http://localhost:3000/tasks`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(newData),
        });
      });


    

      let view = document.querySelector('.view');
      let output = document.querySelector('.output');
      view.addEventListener('click', () => {
        output.classList.toggle('output')
      })

    </script>

    <style>

      * {
        font-family: "Tilt Neon", sans-serif;
      }
      

      .modal {
        top: 350;
      }


      .modal h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }

      .modal label {
        display: block;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: left;
      }

      .modal input[type="text"], .modal input[type="date"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: none;
        margin-bottom: 20px;
      }

      .modal input[type="text"]::placeholder, .modal input[type="date"]::placeholder {
        color: #a9a9a9;
      }

      .modal button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
      }

      .modal button[type="submit"]:hover {
        background-color: #3e8e41;
      }

      .modal form label:last-child {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
        color: #a9a9a9;
      }

      .name_intro {
        margin: 30px;
        font-size: 40px;
        font-weight: 600;
        border-bottom: solid 2px #ccc;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .user-information {
        font-size: 15px;
        color: #999;
      }

      .all-buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 10px;
      }

      .all-buttons button {
        padding: 20px 110px 20px 25px;
        font-family: "Circular Std", sans-serif;
        font-weight: 800;
        color: #fff;
        font-size: 20px;
        border-radius: 50px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease;
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .all-buttons button:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      }

      .design1 {
        background-color: #c2bfd6da;
        margin: 40px 80px 40px 80px;
        padding: 40px;
        border-radius: 2px;
        box-shadow: 0 0 10px #373449da;
        width: 50em;
        margin-left: auto;
       margin-right: auto;
      }
      .output {
        
        display: none;
        transition: all 500ms ease;
      
      }

      .plus {
        background-color: #d73232;
        color: #fff;
        padding: 8px;
        text-align: center;
        border-radius: 50%;
        font-size: 24px;
        font-weight: 800;
        margin-right: 10px;
      }

      .all-buttons .add {
        background-color: #d73232;
      }

      .all-buttons .view {
        background-color: #483d8b;
      }

      .projects-all-output {
        margin: 30px 70px;
      }

      .to-do-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        
      }

      .to-do-container h1 {
        font-size: 36px;
        font-weight: 800;
        color: #333;
        margin-bottom: 20px;
      }
      button {
        background-color: #d73232;
        color: white;
        border: solid 1px #5d2828;
      }

      .to-do-container p {
        font-size: 18px;
        color: #999;
      }

      .to-do-container ul {
        margin-top: 20px;
      }

      .to-do-container li {
        font-size: 20px;
        color: #333;
        margin-bottom: 10px;
      }

      .desc {
        color: gray;
        margin-left: 30px;
      }

      .design {
        border-bottom: solid 1.5px black;
        padding: 15px;
      }

      i {
        color: rgb(72, 67, 67);
      }
    </style>
  </body>
</html>
